*:focus {
   outline: 0;
}

h1 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}


.navpils {
    margin-right: 20px;
}

.navpils-color {
    color: #921515;
    font-style: oblique;
}

#titelbar {
    color: black;
    background-color: #921515;
    height: 17vh;
    font-size: 30px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

#titelbar-tekst {
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #881010;
    box-sizing: border-box;
    font-size: 40px;
}

.image-thumb{
    height: 200px !important;
}

.form-btn-detail {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.btn-detail {
    position: absolute;
    top: 65px;
    right: 0px;
    display: none;
}

.thumb-cont-money-circle {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #921515;
    position: absolute;
    border-radius: 70px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.thumb-categorie {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.wrapper-date-cat {
    position: relative;
}

.parent-thumb-cont:hover .btn-detail {
    display: block;
}

.thumb-cont {
    height: 300px;
    overflow-y: scroll;
    position: relative;
}

.thumb-cont::-webkit-scrollbar {
    width: 10px;
    margin-right: 5px;
}

.thumb-cont::-webkit-scrollbar-thumb {
    background: #EDEDED;
    height: 15px;
}

#footer {
    background-color: #921515;
    text-align: center;
    border-radius: 15px 15px 0 0;
    width: calc(100% - 30px);
    padding: 5px;
    bottom: 0px;
    position: fixed;
    margin: auto;
    color: #6F0101;
}

#detail-img-product {
    height: 40vh;
    display: block;
    margin: auto;
}

#product-detail-wrapper {
    width: 60%;
    margin: auto;
    /*position: relative;*/
}

#producten-uitgelicht {
    margin-bottom: 50px;
}

.winkelwagen-btn {
    background-image: url("../Resources/S-cart.png");
    background-size: 35px 35px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute ;
    top: 10px ;
    right: 0px ;
    display: none;
    transition: all 0.2s ease-in 0s;
    margin-right: 20px;

    /*Overriding shit, afblijven*/
    border:none;
    background-color: transparent !important;
}

.parent-thumb-cont:hover .winkelwagen-btn {
    display: block;
}

.winkelwagen-btn:hover {
    cursor: pointer;
    background-size: 50px 50px;
}

.parent-thumb-cont{
    position: relative;
}

#winkelmandje-dropdown {
    background-image: url("../Resources/S-cart.png");
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute ;
    top: -11px ;
    right: 0px ;
    transition: all 0.2s ease-in 0s;

    /*Overriding shit, afblijven*/
    border:none;
    background-color: transparent !important;
}

#parent-winkelmandje-dropdown {
    position: relative;
}

#winkelmandje-dropdown-content {
    padding: 15px;
    width: 300px;
    height: auto;
    background-color: grey;
    position: absolute ;
    top: 50px;
    right: 0px;
    z-index: 1000;
    border-radius: 15px;
    background-color: #DBD6D6;
    opacity: 0;
    transition: all 0.2s ease-in 0s;
    overflow-y: scroll;
    display: none;
}

#float-hr{
    float: left;
}

#prijs-totaal-rand{
    border-top: 1px solid black;
}

#winkelmandje-dropdown:hover #winkelmandje-dropdown-content {
    display: block;
    opacity: 0.9;
}

#winkelmandje-dropdown-content::-webkit-scrollbar {
    width: 10px;
    margin-right: 5px;
}

#winkelmandje-dropdown-content::-webkit-scrollbar-thumb {
    background: #EDEDED;
    height: 15px;
}

.individuele-item-div-dropdown{
    height: 30px;
    width: auto;
}

.prijs-product-dropdown{
    width: auto;
    float: right;
}

.naam-product-dropdown {
    width: auto;
    float: left;
    min-width: 60%;
}

#detailwrap { 
    width: 70vw;
    margin: auto; 
}

#instellingen-dropdown {
    background-image: url("../Resources/settings.png");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 60px ;
    transition: all 0.2s ease-in 0s;

    /*Overriding shit, afblijven*/
    border:none;
    background-color: transparent !important;
}

#instellingen-dropdown {
    cursor: pointer;
}

#instellingen-dropdown-content {
    width: 150px;
    height: auto;
    background-color: grey;
    position: absolute ;
    top: 40px;
    right: 0px;
    z-index: 1000;
    display: none;
    border-radius: 15px;
    background-color: #DBD6D6;
    transition: all 0.2s ease-in 0s;
    overflow: hidden;
}

#instellingen-dropdown-content-line-item-username{
    background-color: #921515;
    cursor: default;
    color: white;
    font-weight: bold;
}

.instellingen-dropdown-content-line-item {
    width: 100%;
    padding: 10px;
    line-height: normal;
    text-align: center;
}

.instellingen-dropdown-content-line-item:hover {
    background-color: #BA9696;
    cursor: pointer;
}

.link-dropdown-instellingen {
    text-decoration: none;
    color: black;
}

.link-dropdown-instellingen:hover {
    text-decoration: none;
    color: black;
}

.login-p {
    position: absolute;
    left: 0px;

}

.login-input{
    position: absolute;
    right: 0px;
}

.login-line-content{
    width: 100%;
    height: 50px;
    position: relative;
}

.login-line-content-submit-button{
    width: 100%;
}

.login-line-content-submit-button input{
    display: block;
    border: none;
    background-color: #DBD6D6;
    width: 150px;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    transition: all 0.2s ease-in 0s;
}
.login-line-content-submit-button input:hover {
    background-color: #BA9696;
}

#login-form {
    margin: auto;
    height: auto;
    width: 100%
    position: relative;
}

#detailwrap-log-reg {
    width: 40vw;
    padding: 40px;
    padding-top: 10px;
    margin: auto;
    margin-top: 10vh;
    border-radius: 40px;
    border: 1px solid black;
}

#detailwrap-detail {
    width: 40vw;
    padding: 40px;
    padding-top: 10px;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 90px;
    border-radius: 40px;
    border: 1px solid black;
}

#h2-login{
    margin-bottom: 30px;
}

#detail-product-prijs {
    font-weight: bold;
    font-size: 18px;
    color: #23D123;
    position: absolute;
    right: 0px;
    top: 0px;
}

#text-detail-product{
    position: relative;
}

.p-styled-justify{
    text-align: justify;
}

#producten-alle{
    margin-bottom: 50px;
}

#allproductsandsort-wrapper{
    position: relative;
    height: 8.2vh;
    line-height: 8.2vh;
}

#allproductsandsort-filteren{
    position: absolute;
    right: 30px;
    color: #921515;
}

#allproductsandsort-title{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 30px;
}

#allproductsandsort-filteren:hover #allproductsandsort-dropdown{
    display: block;
}

#allproductsandsort-dropdown{
    position: absolute;
    width: 200px;
    height: auto;
    background-color: #DBD6D6;
    right: 0px;
    top: 45px;
    z-index: 10000;
    border-radius: 20px;
    opacity: 0.9;
    display: none;
    overflow: hidden;
    line-height: normal;
}

.allproductsandsort-dropdown-line-item{
    display: block;
    width: 100%;
    height 20px;
    padding: 5px;
    padding-left: 15px;
}

.allproductsandsort-dropdown-line-item:hover{
    background-color: grey;
    cursor: pointer;
}
